.card
{
    height: 150px;
    width: 110%;
    border-radius: 20px;
    padding: 0px 550px 0px 50px;
    font-size: 100px;

}
h5
{
    font-size: 20px;
    color: rgba(32, 31, 31, 0.788);
    
}
.helo
{
    padding: 50px 550px 0px 0px;


}
.ho
{
    padding: 0px 550px 0px 0px;


}